In [186]:
import pandas as pd

file_to_load = "Challenge -Path.csv"
df = pd.read_csv(file_to_load)
df.fillna(0,axis=1,inplace=True)
df

   Column 1  Column 2  Column 3  Column 4
0         3       0.0       0.0       0.0
1         7       4.0       0.0       0.0
2         2       4.0       6.0       0.0
3         8       5.0       9.0       3.0

In [187]:
# compare two adjacent values in a row to get the higher value, from bottom to top;
# add each of the higher value to each of the value in the previous row;
# drop last two rows and last column then add the new added-up values to the last row of the df:


index = 3
row = 0
num = 3


def find_high_val(i):
    
    val_list = []

    for row in range(num):
        
        if df.iloc[index,row] - df.iloc[index,row + 1] >= 0:
            val_list.append(df.iloc[index,row] + df.iloc[index -1,row])
            row +=1

        else:
            val_list.append(df.iloc[index,row + 1] + df.iloc[index -1,row])
            row +=1

    df.drop([index-1,index],inplace=True)
    df.drop(df.columns[-1], axis=1, inplace=True)
    df.loc[index-1]= val_list
    print(val_list)

In [188]:
# run the fuction three times (becaue we have four rows) to get the maximum path sum;
# I would like to write a function to run the above function three times but my code doest work, see below last line of code
find_high_val(df.iloc[-1])

[10, 13.0, 15.0]

In [189]:
index = 2
num = 2

find_high_val(df.iloc[-1])

[20.0, 19.0]

In [190]:
index = 1
num = 1

find_high_val(df.iloc[-1])

[23.0]

In [191]:

# My code doesn't work and I don't understand why, the error I got:  IndexError: single positional indexer is out-of-bounds


# def run_function(i):
#     index = 3
#     num = 3
#     row = 0
#     for x in range(1):
#         find_high_val(i)
#         index = index - 1
#         num = num -1
#         x +=1
#     print(val_list)
    
# run_function(df.iloc[-1])